[Unit]
Description=k3s button control service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/btn-control.py

[Install]
WantedBy=multi-user.target